<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new staff</title>
</head>
<body style="text-align: center;">
<h3>Add new staff</h3>
<p>
    <a th:href="@{/}">Back to List Staffs</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-staff}" th:object="${staff}" method="post">
    <table align="center">
        <tr>
            <td style="text-align: left">Ma nhan vien</td>
            <td>
                <label>
                    <input type="text" style="width: 300px; padding: 5px;" th:field="*{staffcode}"/>
                </label>
            </td>
            <td th:if="${#fields.hasErrors('staffcode')}" th:errors="*{staffcode}">Name Error</td>
        </tr>
        <tr>
            <td style="text-align: left">Chon nhom nhan vien</td>
            <td style="float: left;">
                <select th:field="*{team}" style="width: 150px">
                    <option th:each="team : ${team}" th:value="${team.id}" th:text="${team.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td style="text-align: left">Ho va ten</td>
            <td>
                <label>
                    <input type="text" style="width: 300px; padding: 5px;" th:field="*{name}"/>
                </label>
            </td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td style="text-align: left">Ngay sinh</td>
            <td>
                <input type="date" style="width: 300px; padding: 5px;" th:field="*{birthday}"/>
            </td>
        </tr>
        <tr>
            <td style="text-align: left">Gioi tinh</td>
            <td>
                <label>
                    <input type="radio" name="gender" value="Nam" th:field="*{gender}"> Nam
                    <input type="radio" name="gender" value="Nu" th:field="*{gender}"> Nu
                </label>
            </td>
        </tr>
        <tr>
            <td style="text-align: left">So dien thoai</td>
            <td>
                <label>
                    <input type="number" style="width: 300px; padding: 5px;" th:field="*{phone}"/>
                </label>
            </td>
            <td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Name Error</td>
        </tr>
        <tr>
            <td style="text-align: left">So CMND</td>
            <td>
                <label>
                    <input type="number" style="width: 300px; padding: 5px;" th:field="*{cmnd}"/>
                </label>
            </td>
            <td th:if="${#fields.hasErrors('cmnd')}" th:errors="*{cmnd}">Name Error</td>
        </tr>
        <tr>
            <td style="text-align: left">Email</td>
            <td>
                <label>
                    <input type="email" style="width: 300px; padding: 5px;" th:field="*{email}"/>
                </label>
            </td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</td>
        </tr>
        <tr>
            <td style="text-align: left">Dia chi</td>
            <td>
                <label>
                    <input type="text" style="width: 300px; padding: 5px;" th:field="*{adress}"/>
                </label>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add"></td>
        </tr>
    </table>
</form>
</body>
</html>