<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Staffs Management Application</title>
    <style>
        td{
            padding: 5px;
        }
    </style>
</head>
<body style="text-align: center;">
<h1>Staff List</h1>
<div style="margin: 0 auto; display: inline-block;">
    <button style="float: left; margin-right: 10px"><a th:href="@{/create-staff}">Them moi nhan vien</a></button>
    <form style="float: left;">
        <input name="findAllInOne" type="text" placeholder="Nhap noi dung tim kiem"/>
        <input type="submit" value="Search"/>
    </form>
</div>
<p></p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form>
    <table border="1" align ="center">
        <tr>
            <td style="width: 100px">Staff Id</td>
            <td style="width: 200px">Name</td>
            <td style="width: 100px">Birthday</td>
            <td style="width: 50px">Gender</td>
            <td style="width: 100px">Phone number</td>
            <td style="width: 100px">Id Code</td>
            <td style="width: 200px">Email</td>
            <td style="width: 200px">Address</td>
            <td colspan="2">Action</td>
        </tr>
        <tr th:each="staff, stt: ${staff}">
            <td th:text="${staff.getStaffcode()}"></td>
            <td th:text="${staff.getName()}"></td>
            <td th:text="${staff.getBirthday()}"></td>
            <td th:text="${staff.getGender()}"></td>
            <td th:text="${staff.getPhone()}"></td>
            <td th:text="${staff.getCmnd()}"></td>
            <td th:text="${staff.getEmail()}"></td>
            <td th:text="${staff.getAdress()}"></td>
            <td style="width: 50px"><a th:href="@{/staff-edit/__${staff.id}__}">Edit</a></td>
            <td style="width: 50px"><a th:href="@{/staff-delete/__${staff.id}__}" onclick="return confirm('Do you want to delete this staff?')">Delete</a></td>
        </tr>
    </table>
</form>
</body>
</html>
